.px-20 {
  padding-right: 20rem !important;
  padding-left: 20rem !important;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 8px 12px 8px 34px; /* space for icon */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  // font-size: 14px;
  color: #555;
  outline: none;
  transition: border-color 0.2s ease;
}

.search-input::placeholder {
  color: #999;
}

.search-input:focus {
  border-color: #b7c4ff; /* subtle blue focus */
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #999;
}

.custom-pagination .page-item .page-link {
  border: none;
  background: transparent;
  color: #555;
  padding: 6px 10px;
  border-radius: 8px;
  min-width: 32px;
  text-align: center;
}

.custom-pagination .page-number.active {
  background: #4e69f3 !important;
  color: #ffffff !important;
  border-radius: 8px;
  font-weight: 500;
}

.custom-pagination .page-link:hover {
  background: #e9ecef;
}

.custom-pagination .page-item.disabled .page-link {
  opacity: 0.4;
  pointer-events: none;
}

.custom-pagination .arrow-btn {
  font-size: 18px;
  line-height: 18px;
  padding: 4px 10px;
}
