<div class="container py-4" *ngIf="task">
  <button class="btn btn-link" routerLink="/">← Back</button>

  <div class="card p-4 shadow-sm">
    <h3>{{ task.title }}</h3>

    <span class="badge bg-success" *ngIf="task.status === 'done'">Done</span>
    <span class="badge bg-warning" *ngIf="task.status === 'in-progress'">In Progress</span>
    <span class="badge bg-secondary" *ngIf="task.status === 'pending'">Pending</span>

    <p class="mt-3">{{ task.description }}</p>

    <p class="text-muted">
      Created at: {{ task.createdAt | date:'medium' }}
    </p>

    <div class="mt-3">
      <button class="btn btn-primary me-2" (click)="edit()">Edit</button>
      <button class="btn btn-danger" (click)="deleteTask()">Delete</button>
    </div>
  </div>
</div>
